@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nunito:wght@400;700&display=swap');

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(#d9d1d1, #f6cda3);
    background-attachment: fixed; /* Fija el fondo al viewport para un efecto más elegante */
    font-family: 'Nunito', sans-serif;
    color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Título principal */
.titulo {
    font-family: 'Great Vibes', cursive;
    font-size: 80px;
    /* Tamaño del título */
    text-align: center;
    color: #4a4a4a;
    padding-top: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Secciones alternas */
.seccion {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 2400px;
    margin: 1rem auto;
    padding: 0rem;
    gap: 1rem;
}


.seccion:nth-child(even) {
    flex-direction: row-reverse;
}

.texto {
    flex: 1;
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 1.8;
}

.imagen {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    /* Aumenta el ancho máximo del contenedor */
}

.imagen img {
    width: 100%;
    /* Las imágenes ocuparán todo el ancho del contenedor */
    height: auto;
    /* Mantén la proporción original de la imagen */
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}